---
layout: page
title: Equipo
order: 3
---

<div class="biowrapper">
    {% for page in site.pages %}
      {% if page.bio == true %}
        <div class="bio">
          <img src="{{ page.img }}" class="photo">
          <p>{{ page.content | markdownify }}</p>
        </div>
      {% endif %}
    {% endfor %}
    {% for page in site.pages %}
      {% if page.teacherbio == true %}
        <div class="bio">
          <img src="{{ page.img }}" class="photo">
          <p>{{ page.content | markdownify }}</p>
        </div>
      {% endif %}
    {% endfor %}
</div>
