---
layout: page
title: Proyecto & Equipo
order: 2
---

<h1>El Proyecto MiniLazarillo</h1>
{% for page in site.pages %}
      {% if page.Proyecto == true %}    
          <p>{{ page.content | markdownify }}</p>
      {% endif %}
    {% endfor %}

<h1>El Equipo</h1>
<div class="biowrapper">
    {% for page in site.pages %}
      {% if page.bio == true %}
        <div class="bio">
          <img src="{{ page.img }}" class="photo">
          <p>{{ page.content | markdownify }}</p>
        </div>
      {% endif %}
    {% endfor %}
</div>
