<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"order" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- The code below is used for manually entered links  -->
    <span class="sidebar-nav-item icons">
      <a href="https://www.facebook.com/sharer/sharer.php?app_id=121049934664488&u=http%3A%2F%2Fminilazarillo.github.io%2F&display=popup&ref=plugin&src=share_button" target="_blank">&#xe902;</a> <!-- Facebook icon -->
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://minilazarillo.github.io/" data-text="{{ site.title }}: {{ site.tagline | strip_html }}" data-size="large" target="_blank">&#xe904;</a> <!-- Twitter icon -->
      <a href="https://github.com/minilazarillo/minilazarillo.github.io" target="_blank">&#xe901;</a> <!-- Github icon -->
    </span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. Distributed with an MIT license.
    </p>
  </div>
</div>
