<div class="toc">
  <div id="readingedition">
  <h2>Edición de lectura | <em>Reading edition</em></h2>
  <ul class="post">
  {% for item in site.texts %}
    {% if item.mode == "reading" %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  </div>
  <div id="annotatededition">
    <h2>Edición anotada | <em>Annotated edition</em></h2>
    <ul class="post">
    {% for item in site.texts %}
      {% if item.mode == "annotated" %}
      <li class="post-title">
        <a href="{{ site.baseurl }}{{ item.url }}">
          {{ item.title }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  <div id="smallscreens">
    <p>El mini lazarillo ofrece una versión anotada para pantallas que se puede consultar en pantalla completa.</p>
  </div>

</div>
