<div class="toc">
  <ul class="post">
  {% for item in site.posts reversed %}
    {% if item.mode == "reading" %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>

  <h2>The annotated edition</h2>
  <ul class="post">
  {% for item in site.posts reversed %}
    {% if item.mode == "annotated" %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>

</div>
