// Colors
$med-grey: #c0c0c0; //for use in body headers
$dark-grey: #666; //for use in masthead subheader

/*$med-theme: #aa3311; //for use in links, masthead
$dark-theme: #841212; //for use in sidebar*/

$med-theme: #62A8E5; //for use in links, masthead
$dark-theme: #62A8E5; //for use in sidebar
