<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    <!-- This if statement decides which sidebar to use -->
    {% if page.toc %}
    {% include sidebar-opt.html %}
    {% else %}
    {% include sidebar.html %}
    {% endif %}



    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <br><small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content" id="main">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
      var qd = {}; //Gets values from the URL
      location.search.substr(1).split("&").forEach(function(item) {
          var s = item.split("="),
              k = s[0],
              v = s[1] && decodeURIComponent(s[1]);
          (k in qd) ? qd[k].push(v) : qd[k] = [v]
      });
      if(qd.q) {
        var query = new RegExp("(\\b" + qd.q + "\\b)", "gim");
        var e = document.getElementById("main").innerHTML;
        var newe = e.replace(query, "<mark>$1</mark>");
        document.getElementById("main").innerHTML = newe;
      }
    </script>
  </body>
</html>
