---
layout: default
---

<div class="introduction">
  {{ content }}

<hr />

<div class="ediciones">
  <a href="{{ site.baseurl }}/moderno.html" class="edition-link">
    <div class="box">
      <div class="moderno"></div>
      <div class="overlay">
        <span class="caption">La edición moderna</span>
      </div>
    </div>
  </a>

  <a href="{{ site.baseurl }}/facsimilar.html" class="edition-link">
    <div class="box">
      <div class="facsimilar"></div>
      <div class="overlay">
        <span class="caption">La edición facsimilar</span>
      </div>
    </div>
  </a>
</div>

</div>
